html{
    scroll-behavior: smooth;
}

body{
    padding: auto;
    margin: auto;
    text-align: left;
    width: 500px;

}
ul li{
    display: flex;
    text-align: center;
    
}
h1{
    font-size: auto;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

:link{
    text-align: center;
    margin: 0%;
    padding: 0;
}

.topo{
    display: flex;
    text-align: center;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

